# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
.vite/
.esbuild/
.cache/
tmp/
temp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
lerna-debug.log*

# Environment files
.env
.env.*
!.env.example

# Tests & coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Linters
.eslintcache

# Editors & IDEs
.vscode/
.idea/
.history/

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*.orig
storybook-static/
.sass-cache/
